pinecone-client
langchain==0.0.146
langchain-visualizer==0.0.20
llama-index==0.5.1
beautifulsoup4==4.12.2
soupsieve==2.4.1
guardrails-ai==0.1.5
duckduckgo-search
git+https://github.com/ShreyaR/guardrails.git@main
faiss-cpu
langchain_visualizer
